---
# tasks file for ansible-role-haproxy

- name: Seting-up haproxy
  template:
    src: haproxy.cfg.j2
    dest: "{{ haproxy_configfile }}"
    owner: "{{ haproxy_user_configfile }}"
    group: "{{ haproxy_group_configfile }}"
    mode: 0644
    validate: haproxy -f %s -c -q
  notify: "Restart haproxy on {{ ansible_system }}"
