#####################################
##                                 ##
## THIS FILE IS MANAGED BY ANSIBLE ##
##                                 ##
#####################################

#---------------------------------------------------------------------
# Example configuration for a possible web application.  See the
# full configuration options online.
#
#   http://haproxy.1wt.eu/download/1.4/doc/configuration.txt
#
#---------------------------------------------------------------------

#---------------------------------------------------------------------
# Global settings
#---------------------------------------------------------------------
global
    # to have these messages end up in /var/log/haproxy.log you will
    # need to:
    #
    # 1) configure syslog to accept network log events.  This is done
    #    by adding the '-r' option to the SYSLOGD_OPTIONS in
    #    /etc/sysconfig/syslog
    #
    # 2) configure local2 events to go to the /var/log/haproxy.log
    #   file. A line like the following can be added to
    #   /etc/sysconfig/syslog
    #
    #    local2.*                       /var/log/haproxy.log
    #
    log         {{ default_log }}

    chroot      {{ default_chroot }}
    pidfile     {{ default_pidfile }}
    maxconn     {{ default_maxconn }}
    user        {{ default_user }}
    group       {{ default_group }}
    daemon

    # turn on stats unix socket
    stats socket /var/lib/haproxy/stats

#---------------------------------------------------------------------
# common defaults that all the 'listen' and 'backend' sections will
# use if not designated in their block
#---------------------------------------------------------------------

defaults
{% for default_config in haproxy_default_listen %}
    {{ default_config }}
{% endfor %}
{% for option in haproxy_defaults_options %}
    option {{ option }}
{% endfor %}
{% for timeout in haproxy_defaults_timeouts %}
    timeout {{ timeout }}
{% endfor %}


{{ haproxy_listen_config }}

{{ haproxy_frontend_config }}

{{ haproxy_backend_config }}
