#####################################
##                                 ##
## THIS FILE IS MANAGED BY ANSIBLE ##
##                                 ##
#####################################

#---------------------------------------------------------------------
# Global settings
#---------------------------------------------------------------------
global
{% for key, value in haproxy_global_options.items() %}
    {{ key }} {{ value }}
{% endfor %}

#---------------------------------------------------------------------
# common defaults that all the 'listen' and 'backend' sections will
# use if not designated in their block
#---------------------------------------------------------------------

defaults
{% for default_config in haproxy_default_listen %}
    {{ default_config }}
{% endfor %}
{% for option in haproxy_defaults_options %}
    option {{ option }}
{% endfor %}
{% for timeout in haproxy_defaults_timeouts %}
    timeout {{ timeout }}
{% endfor %}

{{ haproxy_listen_config }}

{{ haproxy_frontend_config }}

{{ haproxy_backend_config }}
